/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --accent-color: #ff8dcb;
  --main-font-color: "IBM Plex mono", "Sans-serif";
  --font-color: #353430;
  --heading-font-color: #353430;
  --background-color: #fff1f7;
  --title-color: #ffc2e6;
  --link-shadow: #ff8dcb;
  --header-color: #353430;
  --cover-image: url("../images/cover-image-light.png");
}

.theme_light .header__decor {
  display: none;
}

.theme_light .header__theme-menu-button_type_light {
  border: 1px solid var(--header-color);
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --main-font-color: "IBM Plex mono", "Sans-serif";
    --font-color: #353430;
    --heading-font-color: #353430;
    --background-color: #fff1f7;
    --title-color: #ffc2e6;
    --link-shadow: #ff8dcb;
    --header-color: #353430;
    --cover-image: url("../images/cover-image-light.png");
  }

  .theme_auto .page {
    background-color: var(--background-color);
    font-family: var(--main-font-color);
    background-image: var(--cover-image);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .header__decor {
    display: none;
  }

  .theme_auto .header__theme-menu-button_type_light {
    border: 1px solid var(--header-color);
  }

  .header__theme-menu-button_active {
    pointer-events: none;
  }
}
