.page {
  font-family: var(--main-font-family);
  background-image: var(--cover-image);
  background-size: cover;
  background-position: center;
  /* При включенном background-attachment: fixed; 
  автотесты перестают видеть фоновое изображение и выдают ошибку */
  background-attachment: fixed;
  inline-size: 100%;
  block-size: 100%;
}

/* Шапка + фон и тайтл */

.header {
  display: grid;
  position: relative;
  grid-template-rows: 1.33fr 0.33fr 1.33fr;
  align-items: center;
  height: 100vh;
  min-height: 668px;
  padding: 10px;
}

.header::after {
  display: block;
  width: 25px;
  height: 25px;
  border-block-end: 1px solid var(--header-color);
  border-inline-start: 1px solid var(--header-color);
  content: "";
  position: absolute;
  align-self: end;
  margin: 10px;
}

.header::before {
  display: block;
  width: 25px;
  height: 25px;
  border-block-start: 1px solid var(--header-color);
  border-inline-end: 1px solid var(--header-color);
  content: "";
  position: absolute;
  align-self: start;
  justify-self: end;
  margin: 10px;
}

.header__decor {
  display: block;
  color: var(--accent-color);
  text-transform: uppercase;
  position: absolute;
  top: 10px;
  right: 39px;
  font-size: 1.125em;
}

.header__decor::after {
  content: "";
  display: inline-block;
  position: absolute;
  filter: drop-shadow(0px 0px 4px var(--accent-color));
  width: 9px;
  height: 9px;
  background-color: var(--accent-color);
  border-radius: 10px;
  margin-inline-start: 11px;
  margin-block-start: 8px;
}

.header__theme-menu-list {
  display: grid;
  gap: 13px;
  justify-content: end;
}

.header__theme-menu-button {
  background: none;
  border: none;
  color: var(--header-color);
  text-transform: lowercase;
  font-family: var(--main-font-family);
  font-size: 1.125em;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  padding: 1.5px 13px 4px;
  min-height: 23px;
  cursor: pointer;
}

.header__theme-menu-button:focus {
  outline: none;
  border-block-end: 1px solid var(--header-color);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-block-end: 1px solid var(--header-color);
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--hover-color);
}

.cover__title {
  color: var(--title-color);
  text-shadow: 4px 4px 0px var(--accent-color);
  font-family: var(--main-font-family);
  /* Чтобы заголовок в шапке красиво адаптировался  */
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%; /* 95.7px */
  align-self: center;
}

.title__decor {
  color: var(--heading-font-color);
  font-family: var(--main-font-family);
  font-size: 1.125em;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
  background-color: var(--accent-color);
  padding-inline-end: 10px;
}

/* Основной контент страницы */

.full-content {
  display: grid;
  gap: 50px;
  background-color: var(--background-color);
}

.content {
  display: grid;
  background-color: var(--background-color);
  padding-inline-start: 10px;
  padding-inline-end: 10px;
  gap: 20px;
}

.card {
  display: grid;
  gap: 10px;
}

.card__wrapper {
  display: grid;
  gap: 20px;
}

.content:first-child {
  padding-block-start: 40px;
}

.content__title {
  color: var(--header-color);
  font-family: var(--main-font-family);
  font-size: 1.125em;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.content__desc {
  color: var(--font-color);
  font-family: var(--main-font-family);
  font-size: 1.125em;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.advice__desc {
  color: var(--heading-font-color);
  font-family: var(--main-font-family);
  font-size: 1.125em;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  background-color: var(--accent-color);
}

.advice-title {
  margin-block-end: 10px;
}

/* ГАЛЛЕРЕЯ */

.gallery {
  display: grid;
  padding: 0 10px;
  gap: 10px;
}

.gallery__desc {
  color: var(--heading-font-color);
  font-family: var(--main-font-family);
  font-size: 1.125em;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  background-color: var(--accent-color);
  padding-inline-end: 10px;
  height: fit-content;
  align-self: end;
}

.gallery__images {
  display: grid;
  grid-column-gap: 0;
  grid-row-gap: 10px;
  padding: 0 0 40px;
  background-color: var(--background-color);
}

/* Адаптив для галлереи */

@media (min-width: 720px) {
  .gallery__images {
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 20px;

    grid-template-areas:
      "image1 image1 image2"
      "image3 image4 image2"
      "image3 image5 image5"
      "image3 image5 image5";
  }
  .image1 {
    grid-area: image1;
  }
  .image2 {
    grid-area: image2;
  }
  .image3 {
    grid-area: image3;
  }
  .image4 {
    grid-area: image4;
  }
  .image5 {
    grid-area: image5;
  }
}

.gallery-img {
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
}

/* ФУТЕР */

.footer {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  height: 100vh;
  min-height: 668px;
  background-color: var(--background-color);
  padding: 10px;
}

.footer__title {
  color: var(--title-color);
  text-shadow: 2px 2px 0px var(--accent-color);
  font-family: var(--main-font-family);
  font-size: 7.25em;
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
  justify-self: center;
  align-self: center;
}

.footer::after {
  display: block;
  width: 25px;
  height: 25px;
  border-block-end: 1px solid var(--header-color);
  border-inline-start: 1px solid var(--header-color);
  content: "";
  position: absolute;
  align-self: end;
}

.footer::before {
  display: block;
  width: 25px;
  height: 25px;
  border-block-start: 1px solid var(--header-color);
  border-inline-end: 1px solid var(--header-color);
  content: "";
  position: absolute;
  align-self: start;
  justify-self: end;
}

/* Адаптив */

@media (width>=768px) {
  .header {
    display: grid;
    padding: 20px;
    grid-template-rows: 1.33fr 0.33fr 1.33fr;
  }

  .header::after {
    margin: 20px;
  }

  .header::before {
    margin: 20px;
  }

  .header__decor {
    margin: 10px;
  }

  .cover__title {
    margin-inline-start: -20px;
  }

  .cover__desc {
    align-self: center;
    max-width: 365px;
    justify-self: end;
  }

  .header__theme-menu {
    align-self: center;
  }

  .full-content {
    gap: 40px;
  }
  .content:first-child {
    padding-block-start: 60px;
  }

  .content {
    padding: 20px;
  }

  .content__difficulty {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
  }

  .content__title {
    max-width: 236px;
  }

  .content__advice {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
  }
  .card {
    grid-column: 2 / -1;
  }

  .gallery {
    padding: 20px;
    gap: 20px;
  }
  .footer__title {
    /* Чтобы заголовок в шапке красиво адаптировался  */
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .footer::before {
    margin: 10px;
  }

  .footer::after {
    margin: 10px;
  }
}

@media (width>=1024px) {
  .header__theme-menu {
    grid-row: 1;
    width: 100%;
    align-self: start;
  }
  .header__theme-menu-list {
    display: flex;
    justify-content: center;
  }

  .cover__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .cover__desc {
    padding: 0;
    max-width: 491px;
  }

  .content__title {
    max-width: 365px;
  }

  .footer__title {
    /* Чтобы заголовок в шапке красиво адаптировался  */
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .content__difficulty {
    row-gap: 20px;
    column-gap: 10px;
  }

  .header {
    grid-template-rows: 1.3fr 0.5fr 1.3fr;
  }

  .card {
    flex: 1 1 0px;
  }

  .card__wrapper {
    display: flex;
    gap: 20px;
    align-items: start;
  }

  .content__advice {
    row-gap: 20px;
    column-gap: 10px;
  }
}
