/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  font-family: var(--main-font);
  background-image: url("../images/cover-image-dark.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -1;

  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
}

.header {
  display: grid;
  position: relative;
  grid-template-rows: 1.33fr 0.33fr 1.33fr;
  align-items: center;
  height: 100vh;
  padding: 10px;
}
.header::after {
  display: block;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--header-color);
  border-left: 1px solid var(--header-color);
  content: "";
  position: absolute;
  align-self: end;
  margin: 10px;
}

.header::before {
  display: block;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--header-color);
  border-right: 1px solid var(--header-color);
  content: "";
  position: absolute;
  align-self: start;
  justify-self: end;
  margin: 10px;
}

/* .decorated-zone::before {
  display: block;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
  content: "";
  position: relative;
  justify-self: end;
} */

.header-rec {
  display: block;
  color: var(--accent-color);
  text-transform: uppercase;
  position: absolute;
  top: 10px;
  right: 39px;
  font-size: 18px;
}

.header-rec::after {
  content: "";
  display: inline-block;
  position: absolute;
  filter: drop-shadow(0px 0px 4px var(--accent-color));
  width: 9px;
  height: 9px;
  background-color: var(--accent-color);
  border-radius: 10px;
  margin-inline-start: 11px;
  margin-top: 8px;
}

.header__theme-menu-list {
  display: grid;
  gap: 13px;
  justify-content: end;
}

.header__theme-menu-button {
  background: none;
  border: none;
  color: var(--header-color);
  text-transform: lowercase;
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  padding: 1.5px 13px 4px;
  min-height: 23px;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--header-color);
}

.header__theme-menu-button:hover {
  /* border: 1px solid white; */
  outline: 1px solid var(--header-color);
}

.cover__title {
  color: var(--title-color);
  text-shadow: 4px 4px 0px var(--accent-color);
  font-family: IBM Plex Mono;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%; /* 95.7px */
  align-self: center;
}

/* text_desc */
.title__decor {
  color: var(--heading-font);
  font-family: var(--main-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
  background-color: var(--accent-color);
  padding-right: 10px;
  /* align-self: end; */
}

/* Content */

.full-content {
  display: grid;
  gap: 50px;
  background-color: var(--background-color);
  /* нужно адаптировать пиксели */
}

.content {
  display: grid;
  background-color: var(--background-color);
  padding-left: 10px;
  padding-right: 10px;
  gap: 20px;
}

.card {
  display: grid;
  gap: 10px;
}

.card__wrapper {
  display: grid;
  gap: 20px;
}

.content:first-child {
  padding-top: 40px;
}

.content__title {
  color: var(--header-color);
  font-family: var(--main-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
}

.content__desc {
  color: var(--font-color);
  font-family: var(--main-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px; /* 130% */
}

.section3_desc {
  color: var(--heading-font);
  font-family: var(--main-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px; /* 130% */
  background-color: var(--accent-color);
}

.advice-title {
  margin-bottom: 10px;
  /* ДРУГОЙ ШРИФТ */
}

a {
  text-decoration: none;
  text-shadow: var(--link-shadow) 1px 1px;
}

a:hover {
  text-decoration: none;
  /* text-decoration: underline; */
  outline: none;
  border-bottom: 1px solid var(--font-color);
}

a:focus-visible {
  outline: none;
  border: 1px solid var(--font-color);
}

/* ГАЛЛЕРЕЯ */

.gallery {
  display: grid;
  padding: 0 10px;
  gap: 10px;
}

.gallery__desc {
  color: var(--heading-font);
  font-family: var(--main-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
  background-color: var(--accent-color);
  padding-right: 10px;
  height: fit-content;
  align-self: end;
}

.gallery__images {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 0;
  grid-row-gap: 10px;
  padding: 0 0 40px;
  background-color: var(--background-color);
}

@media (min-width: 720px) {
  .gallery__images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.7fr 1fr 1fr 0.3fr;
    /* grid-template-rows: 0.35fr 0.85fr 0.9fr 0.9fr 0.3fr; */
    gap: 20px 20px;
    grid-template-areas:
      "image1 image1 image2"
      "image3 image4 image2"
      "image3 image5 image5"
      "image3 image5 image5";
    /* grid-auto-flow: dense; */
  }
  .image1 {
    grid-area: image1;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .image2 {
    grid-area: image2;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .image3 {
    grid-area: image3;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .image4 {
    grid-area: image4;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .image5 {
    grid-area: image5;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.gallery-img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

/* ФУТЕР ЛАСТ СЛАЙД */

.footer {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  height: 100vh;
  background-color: var(--background-color);
  padding: 10px;
}

.footer__title {
  color: var(--title-color);
  text-shadow: 2px 2px 0px var(--title-shadow);
  font-family: var(--main-font);
  font-size: 116px;
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%; /* 95.7px */
  justify-self: center;
  align-self: center;
}

.footer::after {
  display: block;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--header-color);
  border-left: 1px solid var(--header-color);
  content: "";
  position: absolute;
  align-self: end;
  /* margin: 10px; */
}

.footer::before {
  display: block;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--header-color);
  border-right: 1px solid var(--header-color);
  content: "";
  position: absolute;
  align-self: start;
  justify-self: end;
}

@media (width>=768px) {
  .header {
    display: grid;
    padding: 20px;
    grid-template-rows: 1.33fr 0.33fr 1.33fr;
  }

  .header::after {
    margin: 20px;
  }

  .header::before {
    margin: 20px;
  }

  .header-rec {
    margin: 10px;
  }

  .cover__title {
    /* font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem); */
    margin-left: -20px;
  }

  .cover_desc {
    align-self: center;
    max-width: 365px;
    justify-self: end;
  }

  .header__theme-menu {
    align-self: center;
  }

  .full-content {
    gap: 40px;
  }
  .content:first-child {
    padding-top: 60px;
  }

  .content {
    padding: 20px;
  }

  .content__difficulty {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
  }

  .content__title {
    max-width: 236px;
  }

  .content__advice {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
  }
  .card {
    grid-column: 2 / -1;
  }

  .gallery {
    padding: 20px;
    gap: 20px;
  }
  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .footer::before {
    margin: 10px;
  }

  .footer::after {
    margin: 10px;
  }
}

@media (width>=1024px) {
  .header__theme-menu {
    grid-row: 1;
    width: 100%;
    align-self: start;
  }
  .header__theme-menu-list {
    display: flex;
    justify-content: center;
  }

  .cover__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .cover_desc {
    padding: 0;
    max-width: 491px;
  }

  .content__title {
    max-width: 365px;
    /* grid-row: 1 / span 2; */
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .content__difficulty {
    row-gap: 20px;
    column-gap: 10px;
  }

  .header {
    grid-template-rows: 1.3fr 0.5fr 1.3fr;
  }

  .card {
    flex: 1 1 0px;
  }

  .card__wrapper {
    display: flex;
    gap: 20px;
    align-items: start;
  }

  .content__advice {
    row-gap: 20px;
    column-gap: 10px;
  }
}

@media (prefers-color-scheme: light) {
  .page {
    /* сохраните этот селектор в приведённом виде.
      Так стили написанные ниже будут иметь больший вес,
      чем стили в медиазапросе предпочтений пользователя
    */
    --accent-color: #ff8dcb;
    --main-font: "IBM Plex mono", "Sans-serif";
    --font-color: #353430;
    --heading-font: #353430;
    --background-color: #fff1f7;
    --title-color: #ffc2e6;
    --title-shadow: #ff0070;
    --link-shadow: #ff8dcb;
    --header-color: #353430;

    font-family: var(--main-font);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1;
    /* background-color: #fff1f7;   variables */
    background-image: url("../images/cover-image-light.png");
  }

  .header-rec {
    display: none;
  }

  .header__theme-menu-button_type_light {
    border: 1px solid var(--header-color);
  }
}
