/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --accent-color: #ff0070;
  --main-font-family: "IBM Plex mono", Verdana, sans-serif;
  --font-color: #f1b2ce;
  --heading-font-color: #000028;
  --background-color: #000028;
  --title-color: #db00ff;
  --link-shadow: #ff0070;
  --header-color: #ff0070;
  --hover-color: rgba(255, 0, 112, 0.4);
  --cover-image: url(../images/cover-image.png);
}
